
@model List<Person>

<div class="row">
    <div class="col">Name</div>
    <div class="col">City</div>
    <div class="col">Languages</div>
    <div class="col">Phone nr.</div>
    <div class="col">Id</div>
    @if (User.IsInRole("Admin"))
    {
        <div class="col">Edit</div>
    }
</div>
<div>
    @foreach (var p in Model)
    {
        <partial name="_personPartial" model="p" />
    }
</div>
