@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Home Page";
}
@model MVC2.Models.ViewModel.PeopleViewModel


<form asp-action="Create">
    <label asp-for="Name">Name</label>
    <input asp-for="Name" />
    <select asp-for="CityId">
        @foreach (var item in Model.Cities)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <label asp-for="Phone">Phone nr.</label>
    <input asp-for="Phone" />
    <button type="submit">Create new person</button>
</form>

<form asp-action="Index" method="post">
    <input asp-for="FilterText" />
    <button type="submit">Search</button>
</form>
<form asp-action="Index" method="get">
    <button type="submit">Reset</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Languages</th>
            <th>Phone nr.</th>
            <th>Id</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PersonList)
        {
            <tr>
                <td>
                    <partial name="_personPartial" model="item" /> 
                </td>
                <td>
                    <form asp-action="Edit" method="get" asp-route-id="@item.Id">
                        <button type="submit">Edit Languages</button>
                    </form>
                </td>
            </tr>

        }
    </tbody>
</table>